body {
  font-family: Futura;
  background-image: linear-gradient(rgb(15, 116, 134), rgb(39, 180, 223), rgb(231, 208, 157));
  background-repeat: no-repeat;
  height: 100%;
  background-color:rgb(231, 208, 157);  
}
.container {
  margin-left: 0px auto 0px auto;
  width: 60%;
}

.navbar{
  margin: 0px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* List Items Styles */

.list-group .list-group-item {
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  border-radius: 10px;
  width: inherit; 
}

.done {
  text-decoration: line-through;
  color: #888888;
  background-color: rgba(0, 250, 54, 0.5) !important;
}

.list-group {
  width: auto;
}

.list-group .list-group-item button {
  margin-right: 5px;
  border-radius: 50%;
}

.fa {
  transition: all 0.3s ease;
}

.fa:hover {
   transform: scale(1.2);
}


div.buttons-container {
  float: right;
  margin-left: 5px;
  width: max-content;
  padding: 3px;
  border-radius: 5px;
}


/* Input Field Styles */

.item {
  padding: 4px;
  font-size: 16px;
  border: none;
  width: 165px;
}


/* Buttons Styles */
button.focus, button:focus {
  outline: 0;
}

.btn {
  font-size: 14px;
  width: 70px;
  margin-left: 15px;
  height: 34px;
}

/* .btn-outline-success {
  
}

.btn-outline-primary {
  
} */

/* Form Style */

.form-style {
  background-color: rgba(255, 255, 255, 0.5);
  width: 275px;
  margin: 30px 0px 30px 0px;
  padding: 10px;
  border-radius: 10px;
}

/* RESPONSIVE */

@media only screen and (max-width: 500px) {
  .buttons-container {
    float: none;
    margin-top: 5px;
  }
}